.page{
    width: 100%;
    height: 90vh;
    position: absolute
}
.tags{
    color: beige;
    font-size: 22px;
    font-family: 'La Belle Aurore';
    opacity: 0.6;
}
.html-top-tag{
    position: absolute;
    // top: 38px;
    left: 100px; 
    top: 0;  
}
.top-tags{
    position: absolute;
    // top: 60px;
    left: 129px;
    top: 20px;
}
.html-bottom-tag{
    position: absolute;
    // bottom: 205px;
    bottom: 0;
    left: 100px;
}
.bottom-tags{
    position: absolute;
    left: 130px;
    // bottom: 230px;
    bottom: 25px;
}
.container{
    width: 100%;
    height: 90vh;
    will-change: contents;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 3s forwards;
    // animation-delay: 1s;
}